#App {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
}

.container {
  /* border: 5px solid blue; */
  position: relative;
  height: 800px;
}

#image {
  /* border: 3px solid black; */
  position: absolute;
}

canvas {
  /* border: 5px solid red; */
  position: absolute;
}
