.title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 74px 0px;
}
.title-content > p {
  color: #959595;
  font-weight: 500;
}

.text-gradient {
  background: #8C3ECF;
  background: linear-gradient(to right, #8C3ECF 0%, #AEAACF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-content>h1 {
  font-size: 4.5rem;
  color: #fff;
}

.title-content>h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 180px;
  height: 100px;
  justify-content: space-evenly;
}

.video-controllers {
  border: 1px solid #505050;
  padding: 16px 32px;
  border-radius: 16px;
  width: 325px;

  display: flex;
  flex-direction: column;
}

.video-controllers > h3 {
  color: #ada5cd;
  font-size: 1.5rem;
  margin: 10px 0px;
  font-weight: 500;

  border-bottom: 1px solid #505050;
  padding-bottom: 16px;
}

.button-container {
  align-self: center;
  width: 100%;
}