.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 180px;
  height: 100px;
  justify-content: space-evenly;
}