body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  max-width: 1080px;
  margin: auto;
}

.background {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  position: fixed;
  background: #2F3243;
  background: radial-gradient(at center top, #2F3243, #010101);
}